menu "LYDSTO Driver"

config LYDSTO_UART_PORT
    int "UART port"
    range 0 2
    default 1

config LYDSTO_TX_PIN
    int "UART TX GPIO"
    default 17

config LYDSTO_RX_PIN
    int "UART RX GPIO"
    default 16

config LYDSTO_BAUD_RATE
    int "UART baud rate"
    default 115200

config LYDSTO_TIMEOUT_MS
    int "Read timeout (ms)"
    default 500

endmenu
